parser:
  babel-eslint

plugins:
  flowtype

env:
  browser: true
  node: true
  es6: true

rules:
  semi: 0

  no-console: 0

  # strict mode
  strict: 2

  # es6
  arrow-body-style: 2
  arrow-parens: 1
  arrow-spacing: 2
  generator-star-spacing: 2
  keyword-spacing: 1
  no-restricted-imports: 1
  no-useless-constructor: 2
  no-var: 1
  object-shorthand: 2
  prefer-arrow-callback: 2
  prefer-const: 2
  prefer-reflect: 2
  prefer-rest-params: 2
  prefer-spread: 2
  prefer-template: 2
  require-yield: 2
  template-curly-spacing: 2
  yield-star-spacing: 2
  no-unused-vars: 1
  no-extra-boolean-cast: 0
  class-methods-use-this: 0
  react/prop-types: 0
  no-plusplus: 0
  no-duplicate-imports: 0
  flowtype/define-flow-type: 1
  flowtype/use-flow-type: 1
